header,
main,
footer {
  width: 475px;
  margin: 0 auto;
  text-align: center;
}

main {
  display: flex;
  font-size: 14px;
  border: 2px solid #000;
  background-color: #f2f3f4;
}

.title {
  margin: 0 0 75px 0;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 25px;
  letter-spacing: 0.1em;
}

.buttons {
  width: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.generate,
.reset {
  margin: 0 0 10px 0;
  width: 150px;
}

.keys {
  width: 125px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.values {
  width: 175px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.keys p {
  padding: 0 5px 0 0;
}

.values p {
  padding: 0 0 0 5px;
}
